<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testing </title>
</head>
<body>
    
    <section id="showcase">
        <div class="background-image">
            <link rel="stylesheet" href="../css/style.css">
        </div>
        <div class="container text-center">
          <div class="home-search p-5">
            <div class="overlay p-5">
              <h1 class="display-4 mb-4">
                Property Searching Just Got So Easy
              </h1>
              <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel nostrum magnam
                voluptatum tempore! Consectetur, id commodi!</p>
              <div class="search">
                <form action="{% url 'search' %}">
                  <!-- Form Row 1 -->
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label class="sr-only">Keywords</label>
                      <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)">
                    </div>
    
                    <div class="col-md-4 mb-3">
                      <label class="sr-only">City</label>
                      <input type="text" name="city" class="form-control" placeholder="City">
                    </div>
    
                    <div class="col-md-4 mb-3">
                      <label class="sr-only">State</label>
                      <select name="state" class="form-control">
                        <option selected="true" disabled="disabled">State (All)</option>
                        
                      </select>
                    </div>
                  </div>
                  <!-- Form Row 2 -->
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label class="sr-only">Bedrooms</label>
                      <select name="bedrooms" class="form-control">
                        <option selected="true" disabled="disabled">Bedrooms (All)</option>
                        
                      </select>
                    </div>
                    <div class="col-md-6 mb-3">
                      <select name="price" class="form-control" id="type">
                        <option selected="true" disabled="disabled">Max Price (Any)</option>
                        
                      </select>
                    </div>
                  </div>
                  <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>